Je suis heureux de vous annoncer que le projet 6 est maintenant prêt ! Dans ce projet, vous travaillerez avec des données provenant de l'enquête américaine sur les finances des consommateurs. Votre objectif est d'identifier les ménages américains qui ont des difficultés à obtenir un crédit, puis de segmenter ces ménages en groupes en vue d'une sensibilisation ciblée.

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("data/SCFP2019.csv")

In [4]:
df

,YY1,Y1,WGT,HHSEX,AGE,AGECL,EDUC,EDCL,MARRIED,KIDS,...,NWCAT,INCCAT,ASSETCAT,NINCCAT,NINC2CAT,NWPCTLECAT,INCPCTLECAT,NINCPCTLECAT,INCQRTCAT,NINCQRTCAT
0,1,11,6119.779308,2,75,6,12,4,2,0,...,5,3,6,3,2,10,6,6,3,3
1,1,12,4712.374912,2,75,6,12,4,2,0,...,5,3,6,3,1,10,5,5,2,2
2,1,13,5145.224455,2,75,6,12,4,2,0,...,5,3,6,3,1,10,5,5,2,2
3,1,14,5297.663412,2,75,6,12,4,2,0,...,5,2,6,2,1,10,4,4,2,2
4,1,15,4761.812371,2,75,6,12,4,2,0,...,5,3,6,3,1,10,5,5,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28880,5813,58131,667.098300,1,51,3,5,1,1,0,...,5,6,6,6,3,11,11,11,4,4
28881,5813,58132,678.821856,1,51,3,5,1,1,0,...,5,6,6,6,3,11,11,11,4,4
28882,5813,58133,640.908142,1,51,3,5,1,1,0,...,5,6,6,6,3,11,11,11,4,4
28883,5813,58134,665.152072,1,51,3,5,1,1,0,...,5,6,6,6,3,11,11,11,4,4
28884,5813,58135,662.401934,1,51,3,5,1,1,0,...,5,6,6,6,3,11,11,11,4,4